[submodule "lib/saba"]
	path = lib/saba
	url = https://github.com/mityu/saba
	branch = cmake-min-req
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/incbin"]
	path = lib/incbin
	url = https://github.com/graphitemaster/incbin
[submodule "lib/sokol"]
	path = lib/sokol
	url = https://github.com/floooh/sokol
[submodule "lib/toml11"]
	path = lib/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "lib/bullet3"]
	path = lib/bullet3
	url = https://github.com/bulletphysics/bullet3
	ignore = dirty
[submodule "lib/sokol-tools-bin"]
	path = lib/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin
