name: Release prebuild binaries
on:
  # schedule:
  #   - cron: '0 14 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  windows:
    runs-on: windows-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: msys2 {0}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Download the latest release
        uses: robinraju/release-downloader@v1.12
        id: pull_latest_release
        continue-on-error: true
        with:
          filename: "yoMMD-win-*.zip"
          zipBall: true
          latest: true
          extract: true
          out-file-path: "latest-release"
      - name: Check version between latest release and latest source code
        id: check
        shell: bash
        run: |
          if [[ "${{ steps.pull_latest_release.outcome }}" == 'failure' ]]; then
            echo "skip=no" >> $GITHUB_OUTPUT
          else
            version_release=$(./latest-release/yoMMD.exe --version | sed 's/^version: *//i')
            version_source=$(./scripts/gen-version-string)
            if [[ $version_release == $version_source ]]; then
              echo "skip=yes" >> $GITHUB_OUTPUT
            else
              echo "skip=no" >> $GITHUB_OUTPUT
            fi
          fi
      - uses: msys2/setup-msys2@v2
        if: steps.check.outputs.skip == 'no'
        with:
          msystem: MINGW64
          release: false
          install: >-
            make
            zip
            git
            mingw-w64-x86_64-binutils
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-diffutils
      - name: Clone submodules
        if: steps.check.outputs.skip == 'no'
        run:
          git submodule update --init --recursive --recommend-shallow --depth 1
      - name: Build submodule libraries
        if: steps.check.outputs.skip == 'no'
        uses: ./.github/actions/build-submodules
        with:
          shell: msys2 {0}
      - name: Build binary
        if: steps.check.outputs.skip == 'no'
        run: |
          make release -j
      - name: Package
        if: steps.check.outputs.skip == 'no'
        id: package
        run: |
          version_string=$(./scripts/gen-version-string)
          package_name="../package/yoMMD-win-${version_string}.zip"
          commit_hash=$(git log -1 --format='%H')
          changelog_file="../package/changelog.md"
          mkdir ../package
          mv release/yoMMD.exe yoMMD.exe
          zip $package_name yoMMD.exe
          echo "Version: $version_string" > $changelog_file
          echo "Documents:" >> $changelog_file
          echo " - [Configuration](https://github.com/mityu/yoMMD/blob/${commit_hash}/doc/configuration.rst)" >> $changelog_file
          echo " - [Operation Guide](https://github.com/mityu/yoMMD/blob/${commit_hash}/doc/operation-guide.rst)" >> $changelog_file
          echo "package_name=$package_name" >> $GITHUB_OUTPUT
          echo "tag_name=$version_string" >> $GITHUB_OUTPUT
          echo "changelog_file=$changelog_file" >> $GITHUB_OUTPUT
      - name: Upload releases
        uses: softprops/action-gh-release@v2
        if: steps.check.outputs.skip == 'no'
        with:
          files: ${{ steps.package.outputs.package_name }}
          tag_name: ${{ steps.package.outputs.tag_name }}
          body_path: ${{ steps.package.outputs.changelog_file }}
          draft: false
          prerelease: false
