name: Code format check
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  clang-format:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - name: Setup homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Prepare newer clang-format
        run: |
          brew install clang-format
          brew link clang-format --force
      - name: Show clang-format version
        run: clang-format --version
      - name: Check code format
        run: make fmt-check
