name: Build test
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  windows:
    runs-on: windows-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          release: false
          install: >-
            make
            git
            mingw-w64-x86_64-binutils
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-diffutils
      - name: Show environment
        run: |
          uname -a
          g++ --version
      - name: Build submodules
        uses: ./.github/actions/build-submodules/
        with:
          shell: msys2 {0}
      - name: Try build on Windows
        run: |
          make -j release
          make -j debug
  macos:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Setup build tools
        run: brew install --formula cmake
      - name: Show environment
        run: |
          uname -a
          clang++ --version
      - name: Build submodules
        uses: ./.github/actions/build-submodules/
        with:
          shell: bash
      - name: Try build on macOS
        run: |
          make -j app
          make -j debug
  macos-nix:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: cachix/install-nix-action@v31
      - name: Show clang version
        run: |
          nix develop . --command bash -c "which -a clang++"
          nix develop . --command bash -c "clang++ --version"
      - run: nix develop . --command bash -c "make build-bullet"
      - run: nix develop . --command bash -c "make build-saba"
      - run: nix develop . --command bash -c "make -j debug"
      - run: nix develop . --command bash -c "make -j app"
